<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet>
  	<servlet-name>liuyin</servlet-name>
  	<servlet-class>liuyin.Hellow</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>liuyin</servlet-name>
  	<url-pattern>/hellow</url-pattern>
  </servlet-mapping>
</web-app>
