<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">
	<context-param>
		<param-name>user</param-name>
		<param-value>silver</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>123456</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>liuyin</servlet-name>
		<servlet-class>silver.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>liuyin</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
</web-app>
